<!-- amCharts javascript code -->
<script type="text/javascript">
	AmCharts.makeChart("chartdiv",
		{
			"type": "serial",
			"pathToImages": "http://cdn.amcharts.com/lib/3/images/",
			"categoryField": "Excercises",
			"rotate": true,
			"sequencedAnimation": false,
			"startDuration": 1,
			"startEffect": "easeOutSine",
			"categoryAxis": {
				"gridPosition": "start",
				"title": "Excercises"
			},
			"chartCursor": {
				"categoryBalloonEnabled": false,
				"cursorPosition": "mouse",
				"valueBalloonsEnabled": false
			},
			"trendLines": [],
			"graphs": [
				{
					"balloonText": "[[category]]: [[value]] times on [[title]]",
					"fillAlphas": 1,
					"id": "8/11/2014",
					"title": "8/11/2014",
					"type": "column",
					"valueField": "8/11/2014"
				},
				{
					"balloonText": "[[category]]: [[value]] times on [[title]]",
					"fillAlphas": 1,
					"id": "8/12/2014",
					"title": "8/12/2014",
					"type": "column",
					"valueField": "8/12/2014"
				},
				{
					"balloonText": "[[category]]: [[value]] times on [[title]]",
					"fillAlphas": 1,
					"id": "8/13/2014",
					"title": "8/13/2014",
					"type": "column",
					"valueField": "8/13/2014"
				},
				{
					"balloonText": "[[category]]: [[value]] times on [[title]]",
					"fillAlphas": 1,
					"id": "8/14/2014",
					"title": "8/14/2014",
					"type": "column",
					"valueField": "8/14/2014"
				},
				{
					"balloonText": "[[category]]: [[value]] times on [[title]]",
					"fillAlphas": 1,
					"id": "8/15/2014",
					"title": "8/15/2014",
					"type": "column",
					"valueField": "8/15/2014"
				}
			],
			"guides": [],
			"valueAxes": [
				{
					"id": "count",
					"title": "Number of times"
				}
			],
			"allLabels": [],
			"amExport": {
				"buttonTitle": "Download this report",
				"imageFileName": "hmfaysal_fitness_report"
			},
			"balloon": {},
			"legend": {
				"align": "center",
				"useGraphSettings": true,
				"useMarkerColorForLabels": true,
				"useMarkerColorForValues": true
			},
			"titles": [
				{
					"id": "Chart-title",
					"size": 15,
					"text": "Fitness Tracker"
				}
			],
			"dataProvider": [
				{
					"8/11/2014": "10",
					"8/12/2014": "10",
					"8/13/2014": "5",
					"Excercises": "Warm Up(minutes)",
					"8/14/2014": "0",
					"8/15/2014": "5"
				},
				{
					"8/11/2014": "30",
					"8/12/2014": "30",
					"8/13/2014": "0",
					"Excercises": "Side Bend",
					"8/14/2014": "0",
					"8/15/2014": "30"
				},
				{
					"8/11/2014": "30",
					"8/12/2014": "25",
					"8/13/2014": "20",
					"Excercises": "Ab Crunch",
					"8/14/2014": "0",
					"8/15/2014": "10"
				},
				{
					"8/11/2014": "25",
					"8/12/2014": "0",
					"8/13/2014": "0",
					"Excercises": "Push up",
					"8/14/2014": "0",
					"8/15/2014": "15"
				},
				{
					"8/11/2014": "24",
					"8/12/2014": "0",
					"8/13/2014": "0",
					"Excercises": "Bench Press",
					"8/14/2014": "0",
					"8/15/2014": "0"
				},
				{
					"8/11/2014": "20",
					"8/12/2014": "20",
					"8/13/2014": "0",
					"Excercises": "Stretching",
					"8/14/2014": "0",
					"8/15/2014": "40"
				},
				{
					"8/11/2014": "20",
					"8/12/2014": "0",
					"8/13/2014": "0",
					"Excercises": "Tri-stand",
					"8/14/2014": "0",
					"8/15/2014": "9"
				},
				{
					"8/11/2014": "30",
					"8/12/2014": "40",
					"8/13/2014": "60",
					"Excercises": "Press Down",
					"8/14/2014": "0",
					"8/15/2014": "40"
				},
				{
					"8/11/2014": "20",
					"8/12/2014": "20",
					"8/13/2014": "20",
					"Excercises": "Barbell Curl",
					"8/14/2014": "0",
					"8/15/2014": "20"
				},
				{
					"8/11/2014": "30",
					"8/12/2014": "40",
					"8/13/2014": "40",
					"Excercises": "Standing Mucle Curl",
					"8/14/2014": "0",
					"8/15/2014": "30"
				},
				{
					"8/11/2014": "20",
					"8/12/2014": "20",
					"8/13/2014": "20",
					"Excercises": "Dumbell Curl",
					"8/14/2014": "0",
					"8/15/2014": "40"
				},
				{
					"8/11/2014": "20",
					"8/12/2014": "20",
					"8/13/2014": "20",
					"Excercises": "Legs Common",
					"8/14/2014": "0",
					"8/15/2014": "20"
				},
				{
					"8/11/2014": "30",
					"8/12/2014": "30",
					"8/13/2014": "60",
					"Excercises": "Leg Press",
					"8/14/2014": "0",
					"8/15/2014": "90"
				}
			]
		}
	);
</script>