<!-- amCharts javascript code -->
<script type="text/javascript">
	AmCharts.makeChart("chartdiv",
		{
			"type": "serial",
			"pathToImages": "http://cdn.amcharts.com/lib/3/images/",
			"categoryField": "Exercises",
			"columnWidth": 1,
			"rotate": true,
			"colors": [
				"#FF6600",
				"#FCD202",
				"#B0DE09",
				"#0D8ECF",
				"#2A0CD0",
				"#CD0D74",
				"#CC0000",
				"#00CC00",
				"#0000CC",
				"#F8CA00",
				"#999999",
				"#333333",
				"#990000"
			],
			"sequencedAnimation": false,
			"startDuration": 1,
			"startEffect": "easeOutSine",
			"theme": "default",
			"categoryAxis": {
				"gridPosition": "start",
				"title": "Excercises"
			},
			"chartCursor": {
				"cursorPosition": "mouse",
				"valueBalloonsEnabled": false
			},
			"trendLines": [],
			"graphs": [
				{
					"balloonText": "[[category]]: [[value]] times on [[title]]",
					"fillAlphas": 1,
					"id": "8/11/2014",
					"title": "8/11/2014",
					"type": "column",
					"valueField": "8/11/2014"
				},
				{
					"balloonText": "[[category]]: [[value]] times on [[title]]",
					"fillAlphas": 1,
					"id": "8/12/2014",
					"title": "8/12/2014",
					"type": "column",
					"valueField": "8/12/2014"
				},
				{
					"balloonText": "[[category]]: [[value]] times on [[title]]",
					"fillAlphas": 1,
					"id": "8/13/2014",
					"title": "8/13/2014",
					"type": "column",
					"valueField": "8/13/2014"
				},
				{
					"balloonText": "[[category]]: [[value]] times on [[title]]",
					"fillAlphas": 1,
					"id": "8/14/2014",
					"title": "8/14/2014",
					"type": "column",
					"valueField": "8/14/2014"
				},
				{
					"balloonText": "[[category]]: [[value]] times on [[title]]",
					"fillAlphas": 1,
					"id": "8/15/2014",
					"title": "8/15/2014",
					"type": "column",
					"valueField": "8/15/2014"
				},
				{
					"balloonText": "[[category]]: [[value]] times on [[title]]",
					"fillAlphas": 1,
					"id": "8/16/2014",
					"title": "8/16/2014",
					"type": "column",
					"valueField": "8/16/2014"
				},
				{
					"balloonText": "[[category]]: [[value]] times on [[title]]",
					"fillAlphas": 1,
					"id": "8/17/2014",
					"title": "8/17/2014",
					"type": "column",
					"valueField": "8/17/2014"
				},
				{
					"balloonText": "[[category]]: [[value]] times on [[title]]",
					"fillAlphas": 1,
					"id": "8/18/2014",
					"title": "8/18/2014",
					"type": "column",
					"valueField": "8/18/2014"
				},
				{
					"balloonText": "[[category]]: [[value]] times on [[title]]",
					"fillAlphas": 1,
					"id": "8/19/2014",
					"title": "8/19/2014",
					"type": "column",
					"valueField": "8/19/2014"
				},
				{
					"balloonText": "[[category]]: [[value]] times on [[title]]",
					"fillAlphas": 1,
					"fillColors": "",
					"id": "8/20/2014",
					"title": "8/20/2014",
					"type": "column",
					"valueField": "8/20/2014"
				}
			],
			"guides": [],
			"valueAxes": [
				{
					"id": "ValueAxis-1",
					"title": "Number of times"
				}
			],
			"allLabels": [],
			"amExport": {},
			"balloon": {},
			"legend": {
				"useGraphSettings": true
			},
			"titles": [
				{
					"id": "Title-1",
					"size": 15,
					"text": "Fitness Tracker"
				}
			],
			"dataProvider": [
				{
					"8/11/2014": "10",
					"8/12/2014": "10",
					"8/13/2014": "5",
					"8/14/2014": "0",
					"8/15/2014": "5",
					"8/16/2014": "0",
					"8/17/2014": "5",
					"Exercises": "Warm Up(minutes)",
					"8/18/2014": "10",
					"8/19/2014": "10",
					"8/20/2014": "10"
				},
				{
					"8/11/2014": "30",
					"8/12/2014": "30",
					"8/13/2014": "0",
					"8/14/2014": "0",
					"8/15/2014": "30",
					"8/16/2014": "0",
					"8/17/2014": "30",
					"Exercises": "Side Bend",
					"8/18/2014": "30",
					"8/19/2014": "30",
					"8/20/2014": "30"
				},
				{
					"8/11/2014": "30",
					"8/12/2014": "25",
					"8/13/2014": "20",
					"8/14/2014": "0",
					"8/15/2014": "10",
					"8/16/2014": "0",
					"8/17/2014": "5",
					"Exercises": "Ab Crunch",
					"8/18/2014": "0",
					"8/19/2014": "30",
					"8/20/2014": "30"
				},
				{
					"8/11/2014": "25",
					"8/12/2014": "0",
					"8/13/2014": "0",
					"8/14/2014": "0",
					"8/15/2014": "15",
					"8/16/2014": "0",
					"8/17/2014": "5",
					"Exercises": "Push up",
					"8/18/2014": "0",
					"8/19/2014": "30",
					"8/20/2014": "30"
				},
				{
					"8/11/2014": "24",
					"8/12/2014": "0",
					"8/13/2014": "0",
					"8/14/2014": "0",
					"8/15/2014": "0",
					"8/16/2014": "0",
					"8/17/2014": "3",
					"Exercises": "Bench Press",
					"8/18/2014": "10",
					"8/19/2014": "30",
					"8/20/2014": "10"
				},
				{
					"8/11/2014": "20",
					"8/12/2014": "20",
					"8/13/2014": "0",
					"8/14/2014": "0",
					"8/15/2014": "40",
					"8/16/2014": "0",
					"8/17/2014": "20",
					"Exercises": "Stretching",
					"8/18/2014": "30",
					"8/19/2014": "20",
					"8/20/2014": "20"
				},
				{
					"8/11/2014": "20",
					"8/12/2014": "0",
					"8/13/2014": "0",
					"8/14/2014": "0",
					"8/15/2014": "9",
					"8/16/2014": "0",
					"8/17/2014": "2",
					"Exercises": "Tri-stand",
					"8/18/2014": "0",
					"8/19/2014": "0",
					"8/20/2014": "0"
				},
				{
					"8/11/2014": "30",
					"8/12/2014": "40",
					"8/13/2014": "60",
					"8/14/2014": "0",
					"8/15/2014": "40",
					"8/16/2014": "0",
					"8/17/2014": "30",
					"Exercises": "Press Down",
					"8/18/2014": "50",
					"8/19/2014": "50",
					"8/20/2014": "70"
				},
				{
					"8/11/2014": "20",
					"8/12/2014": "20",
					"8/13/2014": "20",
					"8/14/2014": "0",
					"8/15/2014": "20",
					"8/16/2014": "0",
					"8/17/2014": "20",
					"Exercises": "Barbell Curl",
					"8/18/2014": "20",
					"8/19/2014": "30",
					"8/20/2014": "40"
				},
				{
					"8/11/2014": "30",
					"8/12/2014": "40",
					"8/13/2014": "40",
					"8/14/2014": "0",
					"8/15/2014": "30",
					"8/16/2014": "0",
					"8/17/2014": "10",
					"Exercises": "Standing Mucle Curl",
					"8/18/2014": "50",
					"8/19/2014": "40",
					"8/20/2014": "30"
				},
				{
					"8/11/2014": "20",
					"8/12/2014": "20",
					"8/13/2014": "20",
					"8/14/2014": "0",
					"8/15/2014": "40",
					"8/16/2014": "0",
					"8/17/2014": "20",
					"Exercises": "Dumbell Curl",
					"8/18/2014": "40",
					"8/19/2014": "30",
					"8/20/2014": "30"
				},
				{
					"8/11/2014": "20",
					"8/12/2014": "20",
					"8/13/2014": "20",
					"8/14/2014": "0",
					"8/15/2014": "20",
					"8/16/2014": "0",
					"8/17/2014": "20",
					"Exercises": "Legs Common",
					"8/18/2014": "20",
					"8/19/2014": "20",
					"8/20/2014": "20"
				},
				{
					"8/11/2014": "30",
					"8/12/2014": "30",
					"8/13/2014": "60",
					"8/14/2014": "0",
					"8/15/2014": "90",
					"8/16/2014": "0",
					"8/17/2014": "30",
					"Exercises": "Leg Press",
					"8/18/2014": "30",
					"8/19/2014": "50",
					"8/20/2014": "60"
				},
				{
					"8/11/2014": "0",
					"8/12/2014": "0",
					"8/13/2014": "0",
					"8/14/2014": "0",
					"8/15/2014": "0",
					"8/16/2014": "0",
					"8/17/2014": "0",
					"Exercises": "Dumbell Press",
					"8/18/2014": "30",
					"8/19/2014": "30",
					"8/20/2014": "30"
				},
				{
					"8/11/2014": "0",
					"8/12/2014": "0",
					"8/13/2014": "0",
					"8/14/2014": "0",
					"8/15/2014": "0",
					"8/16/2014": "0",
					"8/17/2014": "0",
					"Exercises": "Military Press",
					"8/18/2014": "44",
					"8/19/2014": "30",
					"8/20/2014": "30"
				}
			]
		}
	);
</script>