    <main id="summer-post-container-simple" class="summer-post-container-simple" role="main">
        <header class="summer-post-header-simple">
            <div class="summer-post-menu-header-simple">
                
                {% include logo.html %}


{% include navigation.html %}
 <div class="clearfix"></div>
            </div>
            <div class="summer-post-title-simple row">
                <div class="small-12 columns">
                    <div class="summer-post-meta-simple">
                        <h1>{{ page.title }}</h1>
                        <p class="meta">{% include post-meta.html %}</p>
                    </div>
                </div>
            </div>
        </header>
    </main>