<!doctype html>
<html class="no-js" lang="en">
{% include head.html %}
<body class="post-template">
{% if page.imagefeature %}{% include headerpostcover.html %}{% else %}{% include headerpostsimple.html %}{% endif %}
    <article class="summer-post-content post">
        <div>
            <div class="paddings">
                {{ content }}
            </div>
        </div>
    </article>
    <div class="cf"></div>
{% if site.share %}{% include share.html %}{% endif %}
{% include author.html %}
<div class="cf"></div>
{% if site.disqus_shortname and page.comments == true %}{% include disqus.html %}{% endif %}
{% include footer.html %}
{% include scripts.html %}
</body>
</html>